@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}

.mauto{
    margin: 0 auto;
}

.pa-t{
  padding-top: 3.5rem;
}

.container-50{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.flexo {
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  flex-wrap: wrap;
  flex-direction: column; */
}

@layer base {
    li {
      @apply p-5 hover:text-green-300 hover:bg-zinc-50 md:hover:bg-white; 
    }
  }
  