@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Roboto', sans-serif;
}

.mauto{
    margin: 0 auto;
}

.pa-t{
  padding-top: 3.5rem;
}

.container-50{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.flexo {
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  flex-wrap: wrap;
  flex-direction: column; */
}
.html{
    color: #e34f26;
}
.css{
    color: #2980b9;
}
.js{
    color: #f1c40f;
}
.react{
    color: #61DAFB;
}
.tailwind{
    color: #1abc9c;
}
.bootstrap{
    color: #563d7c;
}
/* ----------------------------------------------------- bg*/
.html-bg{
  background-color: #e34f26;
}
.css-bg{
  background-color: #2980b9;
}
.js-bg{
  background-color: #f1c40f;
}
.react-bg{
  background-color: #61DAFB;
}
.tailwind-bg{
  background-color: #1abc9c;
}
.bootstrap-bg{
  background-color: #563d7c;
}

@layer base {
    li {
      @apply p-5 hover:text-green-300 hover:bg-zinc-50 md:hover:bg-white; 
    }
  }
  